*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(221, 138, 15); */
}

nav{
    background-color: skyblue;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo p{
    font-size: 30px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    text-shadow: 3px 4px 5px rgb(151, 4, 117);
    letter-spacing: 5px;
}
.fa-bars{
    color: white;
    display: none;
}

.nav_list ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav_list ul li{
    padding: 10px;
}

.nav_list ul li a{
    text-decoration: none;
    color: white;
}

.dropdown{
    position: relative;
    color: white;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    min-width: 100px;
    box-shadow:0px 8px 16px 0px rgba(0, 0, 0, 0.2) ;
    padding: 12px 16px;
}
.dropdown-content p{
    margin-bottom: 10px;
}
.dropdown:hover .dropdown-content{
    display: block;
}

/* .dropdown:hover .dropdown-content a{
    display: block;
} */


